<%= content_for :header do %>
    <h1>Editing server_event</h1>
<% end %>
<div class='grid_12' style='background-color: aquamarine;'>
<%= render 'form' %>
</div>
<%= content_for :menu do %>
    <div>
    <%= link_to 'Show', @server_event %> |
    <%= link_to 'Back', server_events_path %>
    </div>
<% end %>
